
.books-list {
    margin: auto;
    width: max(80%, 400px);
}

.books-title {
    color: #673ab7 !important;
    font-size: 1.5rem;
    margin: 0;
}

.mat-mdc-header-cell {
    font-style: bold;
}

.mat-column-description {
    flex: 1.5;
    padding-block: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.hoverable:hover {
    cursor: pointer;
    color: #673ab7;
}